NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_KEY=
API_SOURCE=backend
BACKEND_API_BASE_URL=https://jsonplaceholder.typicode.com
BACKEND_API_TOKEN=
PASSPORT_SCAN_SERVICE_URL=http://localhost:4005/api/passport-scan
PASSPORT_SCAN_SERVICE_TOKEN=
LABEL_SOURCE=local
PRISMIC_JAVA_API_BASE_URL=http://localhost:4002
PRISMIC_REPOSITORY_NAME=
PRISMIC_ACCESS_TOKEN=
PRISMIC_WRITE_TOKEN=
