NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_KEY=
API_SOURCE=backend
BACKEND_API_BASE_URL=https://jsonplaceholder.typicode.com
BACKEND_API_TOKEN=
PRISMIC_REPOSITORY_NAME=
PRISMIC_ACCESS_TOKEN=
PRISMIC_WRITE_TOKEN=
