NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_KEY=
API_SOURCE=backend
BACKEND_API_BASE_URL=https://jsonplaceholder.typicode.com
BACKEND_API_TOKEN=
LABEL_SOURCE=local
PRISMIC_REPOSITORY_NAME=
PRISMIC_ACCESS_TOKEN=
PRISMIC_WRITE_TOKEN=
PRISMIC_FLIGHT_SEARCH_EN_DOCUMENT_ID=
PRISMIC_FLIGHT_SELECT_EN_DOCUMENT_ID=
PRISMIC_FLIGHT_SEARCH_JA_DOCUMENT_ID=
PRISMIC_FLIGHT_SELECT_JA_DOCUMENT_ID=
